 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 @keyframes imgAnimation {
    0% {
        transform: translateX(0px);

    }

    25% {
        transform: translateX(120px)
    }

    50% {
        transform: translateX(120px);
    }

    65% {
        transform: translateX(120px);
    }

    75% {
        transform: translateX(120px);
    }

    100% {
        transform: translateX(-55px);

    }
}

@keyframes imgAnimationRight {
    0% {
        transform: translateX(0px);

    }

    50% {
        transform: translateX(-35px);
    }

    65% {
        transform: translateX(-35px);
    }

    75% {
        transform: translateX(-35px);
    }

    100% {
        transform: translateX(20px);

    }
}

.animation__left {
    position: absolute;
    left: -145px;
}

.animation__left:hover{
    animation-name: imgAnimation;
    animation-duration: 4s;
    animation-iteration-count: 2;
}

.animation__right {
    position: absolute;
    right: -55px;
    top: 39%;
    
}

.animation__right:hover {
    animation-name: imgAnimationRight ;
    animation-duration: 4s;
    animation-iteration-count: 5;
}


.content__underlined  {
border-bottom:  2px solid white;
}

.wrapper {
     height: 100%;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
}

.wrapper--head {
    padding: 0 10px;
}

a {
     color: white;
     text-decoration: none;
 }

.btn {
     background:  linear-gradient(106.56deg, #278BFF 9.94%, #10A6E6 152.77%);
     border: none;
     color: white;
     font-family: Cera Pro;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 18px;
     cursor: pointer;
}

.btn:hover {
    font-size: 16px;
    transition: 0.5s ;
    background: rgb(28, 54, 83);
}

marquee {
     background-color: #278BFF;
     width: 100%;
     height: 26px;
     display: flex;
     align-items: center;
     font-family: Cera Pro;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 18px;
     color: white;
     text-transform:uppercase ;
     letter-spacing: 3px;
     
}

.button__text {
    margin: 0 50px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-top: 10px;

   
    a {
        text-decoration: none;
        color: white;
    }

}



.button__text:hover a {

    border-bottom: 2px solid  #278BFF; 
}

.button__text:hover .white {

    border-bottom: 2px solid  white; 
}
 
//  .head {
//      width: 100%;
//      height: 785px;
//      background-image: url(images/top.png);
//      background-repeat: no-repeat;
//      background-size: cover;
//      background-position: right top;
//      padding-top: 40px;

    .nav {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        

        .nav__logo {
            height: 60px;
            display: flex;
            align-items: center;
            text-decoration: none;
            

            .logo__icon{
                margin: 0px 10px;
            }

            .logo__text {
                font-size: 36px;
                color: white;
                font-family: Cera Pro;
                font-style: normal;
                font-weight: 500;
                
            }
        }

        .nav__buttons{
            display: flex;

            }

            .btn--nav {
                min-width: 159px;
                min-height: 47px;
                margin-left: 20px;

            }
        }
     }

    .head__title {
        margin-top: 150px;
        max-width: 560px;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 110%;
        color: white;

        .title__blue {
            color: #278BFF;
        }
    }
    .head__subtitle {
        font-family: Cera Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.8);
    }

    .button__wrapper {
        width: 371px;
        text-align: center;
    }

    .btn--head {
        width: 371px;
        height: 63px;
        margin-top: 55px;
        margin-bottom: 20px;
    }

    .button--blueback{
        margin: 0;
        padding: 0;
        height: 63px;
        width: 371px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .button--blueback:hover  {
        background: linear-gradient(106.56deg, #278BFF 9.94%, #10A6E6 152.77%);
        transition: 2s;
    }

    .button--blueback:hover  a {
        border: none;
    
    }

    .button--blueback:hover .btn {
        background-color: none;
    }


.middle {
    width: 100%;
    min-height: 1200px;

    .middle__title {
        font-family: Cera Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 60px;
        color: #01152C;
        opacity: 0.95;
        text-align: center;
        margin-top: 115px;
    }

    .middle__subtitle {
        font-family: Cera Pro;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #01152C;
        text-align: center;
        margin-top: 20px;
        opacity: 0.95;

        .middle__link {
            text-decoration: none;
            color: #278BFF

        }
        .middle__link:hover {
            font-size: 24px;
            transition: 0.5s
        }
    }
    
    .middle__gallery {
        list-style: none;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .gallery__itembig {
            background-image: url(images/gal1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right top;
            width: 570px;
            height: 400px;
            margin: 15px;
            border-radius: 5px;
            display: flex;

        }

        .gallery__item {
            width: 270px;
            height: 400px;
            margin: 15px;
            border-radius: 5px;
            display: flex;
        }

        .item__link {
            width: 100%;
            height: 62px;
            background: linear-gradient(128.94deg, #278BFF 9.94%, #10A6E6 152.77%);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            text-decoration: none;
            font-family: Cera Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            color: white;
        }

        .item__descr {
            display: none;
            font-family: Cera Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 23px;
            color: white;
            padding: 15px;
            opacity: 1;
        }

        .gallery__item:hover .item__link {
            height: 100%;
            transition: 0.5s;
            opacity: 0.85;
            background: rgba(240,74,56,1);
            background: -moz-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,74,56,1)), color-stop(0%, rgba(4,135,210,1)), color-stop(0%, rgba(4,135,210,1)), color-stop(65%, rgba(118,184,250,1)), color-stop(95%, rgba(178,203,247,1)), color-stop(100%, rgba(178,203,247,1)));
            background: -webkit-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: -o-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: -ms-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: linear-gradient(to bottom, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04a38', endColorstr='#b2cbf7', GradientType=0 );
        }

        .gallery__item:hover .item__name {
            display: none;
            transition: 0.5s;
        }

        .gallery__itembig:hover .item__link {
            height: 100%;
            transition: 0.5s;
            opacity: 0.85;
            background: rgba(240,74,56,1);
            background: -moz-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,74,56,1)), color-stop(0%, rgba(4,135,210,1)), color-stop(0%, rgba(4,135,210,1)), color-stop(65%, rgba(118,184,250,1)), color-stop(95%, rgba(178,203,247,1)), color-stop(100%, rgba(178,203,247,1)));
            background: -webkit-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: -o-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: -ms-linear-gradient(top, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            background: linear-gradient(to bottom, rgba(240,74,56,1) 0%, rgba(4,135,210,1) 0%, rgba(4,135,210,1) 0%, rgba(118,184,250,1) 65%, rgba(178,203,247,1) 95%, rgba(178,203,247,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04a38', endColorstr='#b2cbf7', GradientType=0 );
        }

        .gallery__itembig:hover .item__name {
            display: none;
            transition: 0.5s;
        }

        .gallery__item:hover .item__descr{
            display: block;
            transition: 0.5s;
            
        }

        .gallery__itembig:hover .item__descr{
            display: block;
            transition: 0.5s;
        }
    }
}

.bottom {
    min-height: 1400px;
    width: 100%;
    background-image: url(images/backgbottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    .bottom__container {
        padding: 0 42px;
        min-height: 100%;
        margin: 0 auto;
    }

    .bottom__title {
        padding-top: 115px;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 60px;
        color: white;
        opacity: 0.95;
        text-align: center;
    }

    .bottom__message {
        max-width: 715px;
        min-height: 196px;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 40px;
        padding: 51px 111px;
        margin-bottom: 135px;

        font-family: Cera Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
    }

    .steps__container {
        padding-bottom: 115px;
    }

    .bottom__step {
        min-height: 205px;
        max-width:  770px;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
        border-top: 1px solid #278BFF; 
        border-bottom: 1px solid #278BFF;
        margin-bottom: 80px;
        margin-left: 18%;
    }

    .step__number {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 100.416px;
        line-height: 120px;
        display: flex;
        align-items: center;
        color: #278BFF;
        border-left: 1px solid #278BFF; 
        border-right: 1px solid #278BFF;
        border-radius: 5px;
        padding: 42px 37px;
           
    }

    .bottom__stepright {
        min-height: 205px;
        max-width:  770px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-radius: 5px;
        border-top: 1px solid #278BFF; 
        border-bottom: 1px solid #278BFF;
        margin-bottom: 80px;
        margin-left: 20%;
    }
    .step__text{
        font-family: Cera Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;            
        text-align: justify;
        color: #FFFFFF;
        max-width: 548px;
        padding: 40px 37px;
    
    }

    .step__image {
        position: absolute;
        left: 88%;
    }

    .image__right {
        position: absolute;
        right:88%;
    
    }

    .step--second {
        display: flex;
        flex-direction: row-reverse;
    }
    
}

.footer {
    width: 100%;

    .footer__partners {
        

        .partners__title {
            font-family: Cera Pro;
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 60px;
            color: #01152C;
            opacity: 0.95; 
            text-align: center;
            margin-top: 115px;
            margin-bottom: 30px;
        }

        .partners__logos {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 100px;
            
        }

        .item__image{
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
            filter: grayscale(1);
        }

        .item__image:hover{
            -webkit-filter: grayscale(0);
            filter: none;
        }
    }

    .footer__buttons{
        min-height: 166px;
        width: 100%;
        background-color: #278BFF;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn__footer {
            background-color: white;
            min-width: 159px;
            height: 47px;
            background-color: white;
            border: none;
            font-family: Cera Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: #278BFF;
            border-radius: 5px;
            
        }

        .btn__footer:hover {
            border: 2px solid rgb(28, 54, 83);
        }

        .button__up {
            width: 47px;
            height: 46px;
            background: #FFFFFF;
            border-radius: 5px;
            align-self: flex-end;
            border: none;
            margin: 0 10px;
        }

        .button__up:hover {
            border: 2px solid rgb(28, 54, 83);
        }
    }

    .footer__last {
        width: 100%;
        height: 53px;
        background: #01152C;
        display: flex;
        justify-content: center;
        align-items: center;

        .last__text {
            font-family: Cera Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            
        }
    }


}


// MOBILE --->>>>?>>>>>>>>>>

.mobile__icon {
    display: none;
    position: relative;
}

.mobile__icon:hover .filltest {
     fill: rgb(184, 184, 184);
     cursor: pointer;
}

.mobile__menu {
    display: none;
    background-color: #01152C ;
}


@media only screen and (max-width: 920px) {
    .nav__mobile {
        position: relative;
    }

    .mobile__menu {
        display: block;
        position: absolute;
        padding: 10px;
        right: 85%;
        top: 70%;
        padding: 10px;
        min-width: 190px;
        border-radius: 30px 0px 30px 0px;
    }

    .mobile__icon {
        display: block;
    }


    .head .nav .nav__buttons {
        display: none;
    }

    .button__text {
        margin: 10px 0px;
    }

    .head .nav .btn--nav {
        margin: 10px 0px;
    }

    .middle__gallery {
        justify-content: center
    }

    .steps__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bottom .bottom__step {
        width: 470px;
        margin-left: 0;
    }

    .bottom .bottom__stepright {
        width: 470px;
        margin-left: 0;
    }

    .image__right {
        width: 260px;
    }

    .step__image {
        width: 260px;
    }
}



@media only screen and (max-width: 878px) {
    .bottom .bottom__step {
        flex-direction: column;
        position: initial;
        margin-bottom: 45px;
        
    }

    .bottom .bottom__stepright {
        flex-direction: column-reverse;
        position: initial;
        margin-bottom: 45px;
        
    }

    .bottom .image__right {
        position: initial;
    }

    .bottom__step {
        position: initial;
    }
    .bottom .step__image {
        position: initial;
    }

    .bottom .bottom__message {
        margin-bottom: 70px;
        font-size: 20px;
    }

    .partners__logos {
        flex-wrap: wrap;
    }

    .logos__item {
        margin: 25px
    }
}


@media only screen and (max-width:620px) {

    .gallery__itembig {
       
     max-width:310px;
     margin: 7px;
    }

    .gallery__item {
        min-width: 310px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center top;
        margin: 7px;
    }

    

}


@media only screen and (max-width: 540px) {

    .head__title {
        max-width: 400px;
        font-size: 45px;
    }

    .button__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: initial
    }

    .btn--head {
        max-width: 175px;
    }

    .button--blueback {
        max-width: 175px;
    }

    .animation__right {
        display: none;
    }

    .footer__buttons {
         flex-wrap: wrap;
    }

    .white {
        font-size: 16px;
    }

    .bottom .bottom__title {
        font-size: 35px;
    }

    .bottom .bottom__message {
        padding: 50px 70px;
    }
    .head {
        background-position: 75%
    }
}

// animations for Vue

.fade-enter-active, .fade-leave-active {
    transition: opacity .7s;
  }
  .fade-enter, .fade-leave-to  {
    opacity: 0;
  }