<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>
        {% block html_title %}ZNOBOT{% endblock html_title %}
    </title>

    <style>.main-header {
        height: 100vh;
        {% with subjects|random as subject %}
        background: url(/{{subject.image_top}}) 50% no-repeat;
        {% endwith %}
        background-size: cover; }
        @media only screen and (max-width: 768px) {
        .main-header {
            background-position: right; } }
        @media only screen and (max-width: 480px) {
        .main-header {
            background-position-x: 75%; } }
        .main-header .container {
        height: 100%;
        padding: 0 15px; }</style>
</head>

<body>
    <header class="header">
        <section class="main-header">
            <div class="container">
                <div class="header-nav">
                    <div class="logo">
                        <img src="{% static "assets/img/logozno.png" %}" alt="znobot logo" class="logo__pic">
                    </div>

                    <nav class="menu-wrapper">
                        <ul class="menu">
                            <li class="menu__item"><a href="/#read" class="menu__link">як користуватись?</a></li>
                            <li class="menu__item"><a href="/about-us" class="menu__link">про нас</a></li>
                        </ul>
                        <div class="btn-wrapper">
                            <a href="/#bot">
                                <button class="btn btn--menu">вибрати бота</button>
                            </a>
                        </div>
                    </nav>
                </div>

                <div class="header-content">
                    <div class="slogan">
                        <div class="slogan__title">Я уже користуюсь ЗНО ботом, <span class="accent-text"> а ти?</span>
                        </div>
                        <div class="slogan__subtitle">Не хочеш аби тебе послали в
                            заслання? тоді мерщій проходити тести!</div>
                    </div>
                    <div class="btn-wrapper">
                        <a href="/#bot">
                            <button class="btn btn--big btn--static" id="btn-primary">вибрати бота</button>
                        </a>
                    </div>
                    <div class="btn-wrapper">
                        <a href="/#read">
                            <button class=" btn btn--big btn--transparent" id="btn-secondary">як
                                користуватись?</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    
    {% block content %}
    {% endblock content %}
  
    <footer>
        <section class="footer-nav">
            <div class="container">
                <div class="footer-menu-wrapper">
                    <nav class="menu-wrapper">
                        <ul class="menu">
                            <li class="menu__item"><a href="/#read" class="menu__link">як користуватись?</a></li>
                            <li class="menu__item"><a href="/#" class="menu__link">про нас</a></li>
                        </ul>
                        <div class="btn-wrapper">
                            <a href="/#bot"><button class="btn btn--light">вибрати бота</button></a>
                        </div>
                    </nav>
                    <div class="btn btn--light btn--top" id="toTop">
                        <svg class="icon-svg">
                            <use xlink:href="{% static "assets/img/sprite.svg#arrow" %}"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer-copyright">
            <div class="container">
                <div class="copyright">Всі права захищено © 2020 </div>
            </div>

        </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/questions.js" %}"></script>

</body>

</html>