{% extends "base.html" %}

{% load static %}

{% block html_title %}
    {{block.super}}  - Subjects
{% endblock html_title%}

{% block header_style %}
    <style>.main-header {
        height: 100vh;
        {% with subjects|random as subject %}
        background: url(/{{subject.image_top}}) 50% no-repeat;
        {% endwith %}
        background-size: cover; }
        @media only screen and (max-width: 768px) {
        .main-header {
            background-position: right; } }
        @media only screen and (max-width: 480px) {
        .main-header {
            background-position-x: 75%; } }
        .main-header .container {
        height: 100%;
        padding: 0 15px; }</style>
{% endblock header_style%}

{% block content %}
    <header class="header">
        <section class="main-header">
            <div class="container">
                <div class="header-nav">
                    <div class="logo">
                        <img src="{% static "assets/img/logozno.png" %}" alt="znobot logo" class="logo__pic">
                    </div>
                    <nav class="menu-wrapper">
                        <ul class="menu">
                            <li class="menu__item"><a href="#read" class="menu__link">як користуватись?</a></li>
                            <li class="menu__item"><a href="/about-us" class="menu__link">про нас</a></li>
                        </ul>
                        <div class="btn-wrapper">
                            <a href="#bot" class="btn btn--menu">вибрати бота </a>
                        </div>
                    </nav>
                </div>
                <div class="header-content">
                    <div class="slogan">
                        <div class="slogan__title">Я уже користуюсь ЗНО ботом, <span class="accent-text"> а ти?</span>
                        </div>
                        <div class="slogan__subtitle">Не хочеш аби тебе послали в
                            заслання? тоді мерщій проходити тести!</div>
                    </div>
                    <div class="btn-wrapper">
                        <a href="#bot" class="btn btn--big">вибрати бота </a>
                    </div>
                    <div class="btn-wrapper">
                        <a href="#read" class="btn btn--big btn--transparent">як користуватись? </a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        {% comment %} 
        <section class="random">
            <div class="container">
                <div class="heading">
                    <div class="heading__title">сектор приз від Андрійовича</div>
                </div>
                <div class="test-wrapper">
                    <div class="heading__subtitle-wrapper">
                        <div class="heading__subtitle">Я офігів від питання, а ти дай відповідь:</div>
                        <div class="heading__img">
                            <img src="{% static "assets/img/symonenko.png" %}" alt="question picture" class="heading__pic">
                        </div>
                    </div>
                    <div id="app">
                        <div class="test-block">
                            <div class="test">
                                <div class="test__question"><span class="question-mark">? </span>
                                    {{content}} </div>
                                <div class="test__heading"> &gt;&gt; Варіанти відповідей: </div>
                                <ul class="test__prev">
                                    <li class="test__prev-answer" v-for="answer in choices"> -
                                        {{answer.content}} </li>
                                </ul>
                            </div>
                        </div>

                        <div class="answer-block">
                            <div class="answer">
                                <div class="answers-wrapper answer__item" v-for="option in choices" v-bind:class="{'answer__item--true': answer === option.content && option.is_correct, 
                            'answer__item--false': answer === option.content && !option.is_correct}">
                                    <label v-bind:for="option.id" class="answer__label">
                                        <input type="radio" v-model="answer" v-bind:id="option.id"
                                            v-bind:value="option.content" style="display:none;">
                                        {{option.content}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        {% endcomment %}

        <section class="main-items" id="bot">
            <div class="container">
                <div class="heading">
                    <div class="heading__title">вибери бота</div>
                </div>
                <ul class="list">
                {% for subject in subjects %}      
                    {% if subject.title == "Українська мова та література" %}
                    <li class="list__item list__item--main">
                        <div class="item-container">
                            <div class="item-image-container">
                                <div class="item-visible">
                                    <img src="{{subject.image_title}}" class="list__img" alt="lang">
                                </div>
                                <div class="item-hidden">
                                    <p class="list__slogan">клікай на платформу та починай вчитись</p>
                                    <ul class="social">
                                        {% if subject.telegram_bot_name %}
                                        <li class="social__item"><a href="https://t.me/{{subject.telegram_bot_name}}" class="social__link"><svg class="icon-svg">
                                                    <use xlink:href="{% static "assets/img/sprite.svg#telegram" %}"></use>
                                                </svg></a></li>
                                        {% endif %}
                                        {% if subject.viber_bot_name %}
                                        <li class="social__item"><a href="viber://pa?chatURI={{subject.viber_bot_name}}" class="social__link"><svg class="icon-svg">
                                                    <use xlink:href="{% static "assets/img/sprite.svg#viber" %}"></use>
                                                </svg></a></li>
                                        {% endif %}
                                        {% if subject.messenger_bot_name %}
                                        <li class="social__item"><a href="https://facebook.com/{{subject.messenger_bot_name}}" class="social__link"><svg class="icon-svg">
                                                    <use xlink:href="{% static "assets/img/sprite.svg#messenger" %}"></use>
                                                </svg></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="item-title-container">
                                    <h4 class="list__title">{{subject.title}}</h4>
                                </div>
                                <div class="shadow"></div>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li class="list__item">
                        <div class="item-container">
                            <div class="item-image-container">
                                <div class="item-visible">
                                    <img src="{{subject.image_title}}" class="list__img" alt="lang">
                                </div>
                                <div class="item-hidden">
                                    <p class="list__slogan">клікай на платформу та починай вчитись</p>
                                    <ul class="social">
                                        {% if subject.telegram_bot_name %}
                                        <li class="social__item"><a href="https://t.me/{{subject.telegram_bot_name}}" class="social__link"><svg class="icon-svg">
                                                    <use xlink:href="{% static "assets/img/sprite.svg#telegram" %}"></use>
                                                </svg></a></li>
                                        {% endif %}
                                        {% if subject.viber_bot_name %}
                                        <li class="social__item"><a href="viber://pa?chatURI={{subject.viber_bot_name}}" class="social__link"><svg class="icon-svg">
                                                    <use xlink:href="{% static "assets/img/sprite.svg#viber" %}"></use>
                                                </svg></a></li>
                                        {% endif %}
                                        {% if subject.messenger_bot_name %}
                                        <li class="social__item"><a href="https://facebook.com/{{subject.messenger_bot_name}}" class="social__link"><svg class="icon-svg">
                                                    <use xlink:href="{% static "assets/img/sprite.svg#messenger" %}"></use>
                                                </svg></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="item-title-container">
                                    <h4 class="list__title">{{subject.title}}</h4>
                                </div>
                                <div class="shadow"></div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                {% empty %}
                <li>No subjects yet</li>
                {% endfor %}
                </ul>
            </div>
        </section>

        <section class="instruction" id="read">
            <div class="container">
                <div class="heading">
                    <div class="heading__title heading__title--light">як користуватися? </div>
                </div>

                <div class="instr-wrapper">
                    <div class="instr-block instr-block--first">
                        <div class="instr-block__img"><img src="{% static "assets/img/hand1.png" %}" alt="how to use bot"
                                class="instr-block__pic"></div>
                        <div class="instr-block__desc">
                            <div class="instr-block__text">Береш свій телефон</div>
                            <div class="instr-block__number">1</div>
                        </div>
                    </div>
                    <div class="instr-block instr-block--reverse">
                        <div class="instr-block__img"><img src="{% static "assets/img/hand2.png" %}" alt="how to use bot"
                                class="instr-block__pic"></div>
                        <div class="instr-block__desc">
                            <div class="instr-block__text">Вибираєш бота</div>
                            <div class="instr-block__number">2</div>
                        </div>
                    </div>
                    <div class="instr-block instr-block--last">
                        <div class="instr-block__img"><img src="{% static "assets/img/hand3.png" %}" alt="how to use bot"
                                class="instr-block__pic"></div>
                        <div class="instr-block__desc">
                            <div class="instr-block__text">Прокачуєш знання</div>
                            <div class="instr-block__number">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer-nav">
            <div class="container">
                <div class="footer-menu-wrapper">
                    <nav class="menu-wrapper">
                        <ul class="menu">
                            <li class="menu__item"><a href="/#read" class="menu__link">як користуватись?</a></li>
                            <li class="menu__item"><a href="/about-us" class="menu__link">про нас</a></li>
                        </ul>
                        <div class="btn-wrapper">
                            <a href="/#bot"><button class="btn btn--light">вибрати бота</button></a>
                        </div>
                    </nav>
                    <div class="btn btn--light btn--top" id="toTop">
                        <svg class="icon-svg">
                            <use xlink:href="{% static "assets/img/sprite.svg#arrow" %}"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer-copyright">
            <div class="container">
                <div class="copyright">Всі права захищено © 2020 </div>
            </div>

        </section>
    </footer>
{% endblock content %}
