{% extends "base.html" %}

{% load static %}

{% block html_title %}
    {{block.super}}
{% endblock html_title%}

{% block header_style %}
    <style>.main-header {
        height: 100vh;
        {% with subjects|random as subject %}
        background: url(/{{subject.image_top}}) 50% no-repeat;
        {% endwith %}
        background-size: cover; }
        @media only screen and (max-width: 768px) {
        .main-header {
            background-position: right; } }
        @media only screen and (max-width: 480px) {
        .main-header {
            background-position-x: 75%; } }
        .main-header .container {
        height: 100%;
        padding: 0 15px; }</style>
{% endblock header_style%}

{% block content %}
    <header class="header">
        <section class="main-header">
            <div class="container">
                <div class="header-nav">
                    <div class="logo">
                    </div>
                    <nav class="menu-wrapper">
                        <ul class="menu">
                            <li class="menu__item"><a href="#read" class="menu__link">як користуватись?</a></li>
                            <li class="menu__item"><a href="about-us" class="menu__link">про нас</a></li>
                        </ul>
                        <div class="btn-wrapper">
                            <a href="#bot" class="btn btn--menu">вибрати бота </a>
                        </div>
                    </nav>
                </div>
                <div class="header-content">
                    <div class="slogan">
                        <div class="slogan__title">Я уже користуюсь ЗНО ботом, <span class="accent-text"> а ти?</span>
                        </div>
                        <div class="slogan__subtitle">Не хочеш аби тебе послали в
                            заслання? тоді мерщій проходити тести!</div>
                    </div>
                    <div class="btn-wrapper">
                        <a href="#bot" class="btn btn--big">вибрати бота </a>
                    </div>
                    <div class="btn-wrapper">
                        <a href="#read" class="btn btn--big btn--transparent">як користуватись? </a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        <section class="random">
            <div class="container">
                <div class="heading">
                    <div class="heading__title">сектор приз від Андрійовича</div>
                </div>
                <div class="test-wrapper">
                    <div class="heading__subtitle-wrapper">
                        <div class="heading__subtitle">Я офігів від питання, а ти дай відповідь:</div>
                        <div class="heading__img">
                            <img src="{% static "assets/img/symonenko.png" %}" alt="question picture" class="heading__pic">
                        </div>
                    </div>
                    <div id="app">
                        <div class="test-block">
                            <div class="test">
                                <div class="test__question">
                                    <span class="question-mark">? </span>
                                    {% templatetag openvariable %}content{% templatetag closevariable %} 
                                </div>
                                <div class="test__heading"> &gt;&gt; Варіанти відповідей: </div>
                                <ul class="test__prev">
                                    <li class="test__prev-answer" v-for="answer in choices"> -
                                        {% templatetag openvariable %}answer.content{% templatetag closevariable %} 
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="answer-block">
                            <div class="answer">
                                <div class="answers-wrapper answer__item" v-for="option in choices" v-bind:class="{'answer__item--true': answer === option.content && option.is_correct, 
                            'answer__item--false': answer === option.content && !option.is_correct}">
                                    <label v-bind:for="option.id" class="answer__label">
                                        <input type="radio" v-model="answer" v-bind:id="option.id"
                                            v-bind:value="option.content" style="display:none;">
                                        {% templatetag openvariable %}option.content[0]{% templatetag closevariable %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </section> 
        
        <section class="main-items" id="bot">
            <div class="container">
                <div class="heading">
                    <div class="heading__title">вибери бота</div>
                </div>
                <ul class="list">
                {% for subject in subjects %}      
                    {% if subject.wide_thumbnail %}
                    <li class="list__item list__item--main">
                    {% else %}
                    <li class="list__item">
                    {% endif %}
                        <div class="item-container">
                            <div class="item-image-container">
                                <div class="item-visible">
                                    <img src="{{subject.image_title}}" class="list__img" alt="{{subject.title}}">
                                </div>
                                <div class="item-hidden">
                                    <p class="list__slogan">клікай на платформу та починай вчитись</p>
                                    <ul class="social">
                                        {% if subject.telegram_bot_name %}
                                        <li class="social__item">
                                            <a href="https://t.me/{{subject.telegram_bot_name}}" class="social__link">
                                                <img src="{% static "assets/img/telegram.png" %}" height="48" width="48" alt="Telegram">
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if subject.viber_bot_name %}
                                        <li class="social__item">
                                            <a href="viber://pa?chatURI={{subject.viber_bot_name}}" class="social__link">
                                                <img src="{% static "assets/img/viber.png" %}" height="48" width="48" alt="Viber">
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if subject.messenger_bot_name %}
                                        <li class="social__item">
                                            <a href="https://facebook.com/{{subject.messenger_bot_name}}" class="social__link">
                                                <img src="{% static "assets/img/messenger.png" %}" height="48" width="48" alt="Messenger">
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="item-title-container">
                                    <h4 class="list__title">{{subject.title}}</h4>
                                </div>
                                <div class="shadow"></div>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>No subjects yet</li>
                {% endfor %}
                </ul>
            </div>
        </section>

        <section class="instruction" id="read">
            <div class="container">
                <div class="heading">
                    <div class="heading__title heading__title--light">як користуватися? </div>
                </div>

                <div class="instr-wrapper">
                    <div class="instr-block instr-block--first">
                        <div class="instr-block__img"><img src="{% static "assets/img/hand1.png" %}" alt="how to use bot"
                                class="instr-block__pic"></div>
                        <div class="instr-block__desc">
                            <div class="instr-block__text">Береш свій телефон</div>
                            <div class="instr-block__number">1</div>
                        </div>
                    </div>
                    <div class="instr-block instr-block--reverse">
                        <div class="instr-block__img"><img src="{% static "assets/img/hand2.png" %}" alt="how to use bot"
                                class="instr-block__pic"></div>
                        <div class="instr-block__desc">
                            <div class="instr-block__text">Вибираєш бота</div>
                            <div class="instr-block__number">2</div>
                        </div>
                    </div>
                    <div class="instr-block instr-block--last">
                        <div class="instr-block__img"><img src="{% static "assets/img/hand3.png" %}" alt="how to use bot"
                                class="instr-block__pic"></div>
                        <div class="instr-block__desc">
                            <div class="instr-block__text">Прокачуєш знання</div>
                            <div class="instr-block__number">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer-nav">
            <div class="container">
                <div class="footer-menu-wrapper">
                    <nav class="menu-wrapper">
                        <ul class="menu">
                            <li class="menu__item"><a href="#read" class="menu__link">як користуватись?</a></li>
                            <li class="menu__item"><a href="about-us" class="menu__link">про нас</a></li>
                        </ul>
                        <div class="btn-wrapper">
                            <a href="#bot" class="btn btn--light">вибрати бота </a>
                        </div>
                    </nav>
                    <div class="btn btn--light btn--top" id="toTop">
                        <svg width="16" height="9" viewBox="0 0 16 9" fill="#278BFF" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z"
                                fill="#288BFF" />
                        </svg>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer-copyright">
            <div class="container">
                <div class="copyright">Всі права захищено © 2020 </div>
            </div>
        </section>
    </footer>
{% endblock content %}
