# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node.js
node_modules
.serverless

# Editors
.vscode

# Elastic Beanstalk Files
.elasticbeanstalk

questions.json
raw_questions.json
zno_parser/data
