option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: landing_page/wsgi.py
    NumProcesses: 5
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "landing_page/public/static/"

container_commands:
  01_collectstatic:
    command: "/opt/python/run/venv/bin/python manage.py collectstatic --noinput"
