@import 'variables.scss';
@import 'mixin.scss';

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 46px;
    margin-left: 30px;
    border-radius: 5px;
    outline: none;
    background: $color-block;
    @include font($font-regular, $fsize-primary, $color-basic, none);
    text-align: center;
    transition: all 0.3s 0s linear;

    &:hover,
    &:active {
        cursor: pointer;
        transition: 0.3s linear;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}

.btn--big {
    width: 360px;

    @include phablet {
        width: 160px;
        margin-left: 0;
        font-size: 14px;
    }
}

.btn--transparent {
    position: relative;
    background: transparent;
    transition: background 0.3s linear;

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background: $color-accent;
        visibility: hidden;
        transition: all 0.3s linear;
    }

    &:hover:before {
        visibility: visible;
        width: 50%;
    }

    &:hover,
    &:active {
        box-shadow: none;
    }
}

.btn--light {
    background: $color-basic;
    color: $color-accent;
}

/*top btn*/
.btn--top {
    width: 47px;
    height: 47px;
    background-color: $color-basic;
    border-radius: 5px;
    transition: all 0.3s linear;
}


@include mobile {
    .btn--light {
        width: 95px;
        height: 28px;
        font-family: $font-bold;
        font-size: $fsize-small;
    }

    .btn--top {
        max-width: 28px;
        max-height: 28px;
        margin-left: 0;
    }
}