
/*variables*/
$font-regular: 'Cera Pro Regular', sans-serif;
$font-bold: 'Cera Pro Bold', sans-serif;
$font-black: 'Cera Pro Black', sans-serif;
$font-number: 'Fira Sans', sans-serif;

$fsize-small: 12px;
$fsize-medium: 24px;
$fsize-primary: 18px;
$fsize-title: 48px;
$weight-regular: 400;
$weight-bold: 700;
$capitalize: capitalize;
$uppercase: uppercase;
$color-basic: #FFF;
$color-block: linear-gradient(127.33deg, #278BFF 9.94%, #10A6E6 152.77%);
$color-accent: #278BFF;
$color-title: #01152C;
$color-test:#182533;

$tablet-screen-width: 992px;
$phablet-screen-width: 768px;
$mobile-screen-width: 480px;